*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(118, 88, 252);
}

.head{
    width: 100%;
    margin-top: 2rem;
}

.head h1{
    text-align: center;
    font-size: 3.75rem;
    font-family: 'roboto';
}

.counter{
    width: 100%;
}

.counter h1{
    text-align: center;
    margin-top: 4rem;
    font-size: 3.75rem;
    font-family: 'roboto';
}

.button{
    text-align: center;
   
}

.button button{
    margin: 1rem 1rem;
    padding: .27rem;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(118, 88, 252);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(118, 88, 252);
    cursor: pointer;
}